.body {
  background-color: #232B32;
  text-decoration: none;
  margin: 0 auto
}

.maininfo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color: antiquewhite;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.maintitle {
  font-size: 40px;
  line-height: 35px;
  color: #36A286;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;  
}

.navigation {
    font-size: 25px;
    text-decoration: none;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

a:hover {
  color:cadetblue;
}

a:active {
  color:darkmagenta;
}

.header {
    display: flex;
    justify-content: center;
}

.admins {
    font-size: 43px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 90px;
}

.cqnnd1ng {
    margin-left: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:darkcyan;
    font-size: 23px;
}

.simon {
    margin-left: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:cyan; 
    font-size: 23px;   
}

.henry {
    margin-left: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:blue;
    font-size: 23px; 
}

.tim {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:blue; 
  font-size: 23px;
}

.kinq {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:blue; 
  font-size: 23px;
}

.raves {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:darkgreen; 
  font-size: 23px;
}

.devs {
  font-size: 43px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 90px;
}

.left {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:slateblue; 
  font-size: 23px;
}

.mods {
  font-size: 43px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 90px;
}

.zuege {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#C1803E; 
  font-size: 23px;
}

.flenni {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#FAC808; 
  font-size: 23px;
}

.hightube {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#FAC808; 
  font-size: 23px;
}

.draco {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#FAC808; 
  font-size: 23px;
}

.bigmac {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#972C36; 
  font-size: 23px;
}

.builder {
  font-size: 43px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 90px;
}

.reflexe {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#75B994; 
  font-size: 23px;
}

.contents {
  font-size: 43px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 90px;
}

.nbdy {
  margin-left: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:deeppink; 
  font-size: 23px;
}

.mainsite {
  color:blanchedalmond;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.discord {
  color:blanchedalmond;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}